
.jumbotron {
    background-color: silver;   
   overflow: hidden;
}

.jumbotroncontact {
    text-align: center;
}

.jumbotronportfolio {
    text-align: center; 
    margin-bottom: 100px;  
   color: navy;
   font-style: italic;
}

.navbar-brand   {
    font-size: 50px;
    cursor: default;
}

.form-group {
    font-size: 20px;
    text-align: left;   
    width: 960px;
    margin: auto;
    padding-top: 30px;
}

.card-title {
    text-align: center;
}

.nav-item {
    width: 100%;
    font-size: 30px;
    cursor: default;
    float: right;  
}

.navbar-nav {
    
    cursor: default;    
}

img {
    float: left;
    border: 2px solid black;
    width: 250px;
    height: 250px;
    margin-right: 20px; 
}


.card-header {
    background-color: rgb(1, 38, 53)
}


