


nav {
    height: 100px;
    font-size: 20px;    
}

.navbar{
    background-color: rgb(21, 41, 77) !important;
}

a{
    text-decoration: none;
    color: black
}

.navbar-brand {
    font-size: 40px;
}
.jumbotron {
    margin-bottom: 16%;

    
}

.card-deck {
    margin-bottom: 20px;
    max-width: 960px;
    margin: auto;
}

.profilepic {
    border: 3px solid black;
    float: left;
    margin: 20px;
}

.card-group {
    margin-bottom: 16%;
}


form {
    max-width: 960px;
    margin: auto;
    line-height: 50px;
    margin-bottom: 16%;
}

.card-title {
    text-decoration: underline;
}
.card-body {
    text-align: center;
}





footer {

    width: 100%;
    position: fixed;
    bottom: 0;
    height: 60px;
    color: white;
    font-size: 15px;
    text-align: center; 
    overflow:hidden;
    background-color: rgb(21, 41, 77) 
}


@media (max-width: 640px ) {

    .card-deck {
        margin: 10%;
    }

    form{
        margin: 10%;
    }
   
    

@media (max-width: 768px ) {

    .card-deck  {
        margin: 5%;
    }

    .jumbotron {
       
        margin-bottom: 30%;
      
    }
    form{
        margin: 10%;
        margin-bottom: 30%;
    }
    .card-group {
        margin-bottom: 30%;
    }
    



    footer {
        width: 100%;
        padding: 0;
        margin:0;
    }
}